.THIS.black{
    background-color: black;
}
.THIS.green{
    background-color: green;
}
.THIS.red{
    background-color: red;
}
.THIS.blue{
    background-color: blue;
}
.THIS.yellow{
    background-color: yellow;
}
.THIS.magenta{
    background-color: magenta;
}


